#idSectionTareas
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 1em;
}

.contenedorTarea
{
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
}

button
{
    margin-top: 1em;
}

.botonCompletar
{
    background-color: blueviolet;
    color: white;
}

.botonEliminar
{
    margin-left: 7em;
}