body
{
    margin: 0;
    padding: 0;
}
header
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-image: url("../Imagenes/slimesFondo.png") ;
    max-height: 50px;
    min-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.tercerParrafo
{
    text-align: right;
}
.segundoParrafo
{
    text-align: center;
}
main
{
    display: flex;
    justify-content: center;
}
#formularioVideojuego
{
    padding-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
}
input, label
{
    margin-bottom: 10px;
}
#formularioVideojuego label {
    text-align: left;
    align-self: center;
}
#formularioVideojuego input[type="submit"] {
    grid-column: 1 / span 2;
    justify-self: center;
}
.contenedorResultado
{
    display: inline-block;
    border: red 1px solid;
    width: auto;
    min-width: 25%;
}
.contenedorResultado p
{
    margin: 10%;
}