
main
{
    display: flex;
    justify-content: center;
}
#formularioVideojuego
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    max-width: 40%;
    height: auto;
}
input, label
{
    margin-bottom: 10px;
}
